// SETTING
//-------------------------------------
// VARIABLE'S: color's
$color_body: #f4f4f4;

$color_bg-light: #fafafa;

$color_primary-1: #ff5351;
$color_primary-2: #2e2e2e;

$color_text: #3e3e3e;
$color_text-gray: #878686;

// VARIABLE'S: gutter's
$gutter_layout: 40px;
$gutter_middle: 24px;

$gutter_grid: 14px;


// VARIABLE'S: dimension's
$width_site-max: 1920px;
$width_site-min: 320px;

$width_container: 1600px;

// VARIABLE'S: Transition
$transition: all .2s;
$transition-link: all 150ms ease-out;
$transition-btn: all .15s ease-in-out;

// VARIABLE'S: Border
$border_dashed: 1px dashed #b7b7b7